*, ::after, ::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 


}

body{
    background-image: url(./image/grain.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


   /* =====================style nav============== */

.the-header{
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1;

}

.text-faded{
    color: #E6A756;
}

.the-header .the-heading-upper{
    display: block;
    font-size: 2rem;
    font-weight: 800;
    color: #E6A756;
}
.the-header .the-heading-lower{
    font-size: 5rem;
    font-weight: 100;
    line-height: 4rem;
    color: whitesmoke;
}


.text-center{
    text-align: center !important;
}

.fw-bold{
    font-weight: bold;
}



#bagnav .navbar-brand{
    color: #E6A756;
}

#bagnav{
    background-color: #2F170F;
}

/* ================= style HOME=========== */

.ho{
    border-radius: 15px;
}

.ho-text{
    background: #F6E1C5;
    border-radius: 10px;
    padding:  0 40px;
}

.fw-lighter{
    font-size: 50px;
    opacity: calc(0.5);
    letter-spacing: 4px;

}

.ho-button button{
    background: #EAB46F;
    height: 40px;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 500;
} 

.leee{
    padding: 10px 10px;
    border: 5px solid #e9ad5e;
    border-radius: 7px;
}

.le-ho{
    background: #e6a756;
    margin-top: 100px;
}

.lee-hom{
    background: #F6E1C5;
    border: 5px solid #f6e1c5;
    border-radius: 7px;
    padding: 40px 40px;
}

.lee-hom h2{
    font-size: 30px;
}

.toyou{
    font-size: 90px;
    font-weight: 100;
    opacity: calc(0.9);
}

#footer{
    background: #2E170F;
    color: #F6E1C5;
    font-size: 20px;
    margin-top: 40px;
    padding: 30px 0;
}

.hom-footer{
    padding-top: 40px;
}


.bord{
    border-radius: 9px;
    
}


/* ===================style about==================== */

.abou{
    border-radius: 10px;
    margin-top: 50px;
}

.abou-text{
    background: #F6E1C5;
    border-radius: 9px;
    padding: 30px 30px;

}

.sizin{
    font-size: 20px;
}

.the-para{
    font-size: 20px;
}

/* =============================style produict=================== */

.produi{
    background: #F6E1C5;
    border-radius: 9px;
    width: 100%;
}

.span1{
    font-size: 25px;
    margin-right: 5rem;
}

.pragra1{
    background: #F6E1C5;
    border-radius: 9px;
    font-size: 20px;
    padding: 30px 30px;
}

.produi2{
    background: #F6E1C5;
    border-radius: 9px;
    padding: 20px 0;
}

.my-croiss{
    background: #F6E1C5;
    border-radius: 9px;
    font-size: 25px;
}

.produi3{
    background: #F6E1C5;
    border-radius: 9px;
    padding: 20px 0;
}

.div-para{
    background: #F6E1C5;
    border-radius: 9px;
    font-size: 20px;
}
   /* =======================style store=============== */
.span5{
    font-size: 25px;
    margin-right: 350px;
}

.programm li{
    list-style-type: none;
    font-size: 20px;
}

.span11, .span12{
    color: #e9ad5e;
}

.ddd{
    display: flex;
}


/* ================media 576px============ */

  @media (min-width: 576px) {
    .ho{
        width: 100%;
    }

    .produi{
        padding: 30px 0;
        background: #F6E1C5;
        border-radius: 9px;
        width: 80%;
        position: relative;
        left: 70px;
    }
    
    .span2{
        letter-spacing: 5px;
    }

    .span1{
        font-size: 20px;
        margin-left: -90px;
    }

    .produi2{
        width: 100%;
        position: relative;
        left: -70px;
    }

    .span3{
        font-size: medium;
        margin-left: -16rem;
    }



  }

/* ================media 768px============ */

  @media (min-width: 768px) {
    .ho{
        width: 100%;
    }

    .le-ho{
        background: #D2984F;
        margin-top: 100px;
        padding: 75px 75px;
    }

    .produi{
        padding: 30px 0;
        background: #F6E1C5;
        border-radius: 9px;
        width: 60%;
        position: relative;
        left: 300px;
    }

    .span2{
        letter-spacing: 5px;
    }

    .span1{
        font-size: 16px;
        margin-left: -90px;
    }

    .produi2{
        width: 90%;
    }

  }


  /* media 992px  */

  @media (min-width: 992px){
      .ho{
          width: 100%;
      }

      .ho-text{
          margin-top: 30px;
      }

      .le-ho{
          background: #D2984F;
          margin-top: 100px;
          padding: 90px 90px;
      }

      .produi{
          padding: 40px 0;
          background: #F6E1C5;
          border-radius: 9px;
          width: 45%;
          position: relative;
          z-index: 1;
          left: 538px;
          top: 50px;
      }

      .thee-image{
          width: 60%;
          margin-left: 20px;
      }

      .span2{
          letter-spacing: 5px;
      }

      .span1{
         font-size: medium;
         margin-left: -50px; 
      }

      .pragra1{
          width: 76%;
          position: relative;
          top: -130px;
          left: 110px;
      }

      .produi2{
          width: 53%;
          position: relative;
          z-index: 1;
          top: 30px;
          left: -1px;
      }


      .produi3{
          width: 71%;
          position: relative;
          z-index: 1;
          top: 65px;
          left: 285px;
      }




      .span3{
          font-size: medium;
          margin-left: -90;
      }

      .span4{
          font-size: 35px;
      }

      .pra-thee{
          width: 60%;
          position: relative;
          top: -90;
          left: 390px;
      }

      .div-para{
          width: 60%;
          position: relative;
          top: -100px;
          left: -1px;
      }

  }


  /* media 1200px  */

  @media (min-width: 1200px){
      .ho{
          width: 70%;
          margin-left: 120px;
      }

     .ho-text{
         position: absolute;
         bottom: -250px;
         margin-left: 20px;
         width: 33%;

     } 

     .ho-button button{
         height: 70px;
         position: absolute;
         right: 160px;
         bottom: -45px;
     }

     .le-ho{
         background: #D2984F;
         margin-top: 100px;
         padding: -50px 300px;
     }

     .abou{
         width: 100%;
         margin-left: 20px;
     }

     .abou-text{
         width: 50%;
         position: relative;
         left: 65px;
         top: -90px;
         border-radius: 3px;
         
     }

     .produi{
        padding: 30px 0; 
        width: 40%;
        border-radius: 4px;
        position: relative;
        left: 700px;
        top: 40px;
     }

     .pragra1{
         width: 60%;
         border-radius: 4px;
         background: #F6E1C5;
         position: relative;
         top: -110px;
         left: 80px;
     }

     .produi2{
         width: 50%;
         background: #F6E1C5;
         border-radius: 4px;
         position: relative;
         left: 5px;
     }

     /* .span3{
         font-size: medium;
         margin-left: -275px;
     }

     .span4{
         font-size: 50px;
     } */

     .pragra1{
         width: 50%;
         position: relative;
         top: -105px;
         left: 40px;
     }

     .pragra3{
        width: 60%;
        position: relative;
        top: -115px;
        left: 475px;
    }

     .produi3{
         width: 60%;
         position: relative;
         z-index: 1;
         top: 60px;
         left: 385px;

     }

     .div-para{
        width: 60%;
        position: relative;
        top: -135px;
        left: -15px;

     }

     .span7{
         margin-left: -150px;
     }

     .span8{
         margin-left: 220px;
     }

     .span13{
         margin-left: -140px;
     }


     .span19{
        margin-left: -90px;
     }


     .span17{
        margin-left: -160px;
     }



     .span14, .span20{
         margin-left: 180px;
     }


     .span18{
        margin-left: 210px;
     }

     .span15{
         margin-left: -90px;
     }

     .span16{
         margin-left: 210px;
     }


     .span11{
         margin-left: -90px;
     }

     .span12{
         margin-left: 210px;
     }

     .span9{
         margin-left: -90px;
     }

     .span10{
         margin-left: 210px;
     }

     .hr1{
         width: 62%;
         background: #E6A756;
         margin-left: 120px;
     }

     .img-sto{
         position: relative;
         z-index: 0;
     }

     .my-stto{
         width: 70%;
         top: -130px;
         left: 155px;
     }

  }


